<p id="notice"><%= notice %></p>

<p>
  <b>Twitter uid:</b>
  <%= @tweet.twitter_uid %>
</p>

<p>
  <b>Text:</b>
  <%= @tweet.text %>
</p>

<p>
  <b>Twitter user:</b>
  <%= @tweet.twitter_user_id %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @tweet.timestamp %>
</p>

<p>
  <b>Is atreply:</b>
  <%= @tweet.is_atreply %>
</p>

<p>
  <b>Fav count:</b>
  <%= @tweet.fav_count %>
</p>

<p>
  <b>Fav weight:</b>
  <%= @tweet.fav_weight %>
</p>

<p>
  <b>Favs per follower:</b>
  <%= @tweet.favs_per_follower %>
</p>

<p>
  <b>Hash:</b>
  <%= @tweet.hash %>
</p>


<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
